
html {
  font-size: 18px;
}

p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 630px;
  font-size: 1rem;
  line-height: 1.47rem;
  font-family: Georgia, 'Times New Roman', Times, serif;

  transform: translateX(-45px);
}

h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 630px;
  font-size: 2rem;
  line-height: 2.24rem;
  transform: translateX(-45px);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App a {
  color: #f60;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
